/* Общие */
.hidden {
    display: none;
}

/* Секция Недвижимость */
section.estate {
    margin-top: 80px;
    margin-bottom: 80px;
}
.estate-cnt {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.estate-item span.title {
    margin-right: 8px;
    display: inline-block;
}

/* Секция Города */
section.city {
    margin-bottom: 80px;
}
.city-cnt {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.estate-item .city-name {
    margin-bottom: 16px;
}

/* Страница одной квартиры */
section.estate-item {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Страница одного города */
section.single-city {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Форма добавления объекта недвижимости */
.feedback-form {
    width: 100%;
    max-width: 400px;
}
.form__row+.form__row {
    margin-top: 16px;
}
.feedback-form label {
    display: block;
}
.feedback-form input,
.feedback-form select {
    width: 100%;
}
.feedback-form .btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,0)),to(rgba(255,255,255,.2))),#3c70f4;
    background: -o-linear-gradient(bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%),#3c70f4;
    background: linear-gradient(360deg,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%),#3c70f4;
    -webkit-box-shadow: 0 4px 14px rgba(0,37,102,.18);
    box-shadow: 0 4px 14px rgba(0,37,102,.18);
    border: none;
    border-radius: 10px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
}
    





